
body {
  font: 10px sans-serif;
}
.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.tooltip, .tooltip2 {
    text-anchor: middle;
    font-family: sans-serif;
    font-size: 10px;
    fill: white;
}

#tooltip, #tooltip2 {
        position: absolute;
        width: 300px;
        height: auto;
        padding: 10px;
        background-color: white;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
        pointer-events: none;
        z-index: 99;
}

#tooltip.hidden, #tooltip2.hidden {
        display: none;
}

#tooltip p, #tooltip2 p {
        margin: 0;
        font-family: sans-serif;
        font-size: 16px;
        line-height: 20px;
}


rect {
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
}

rect:hover {
        fill: orange;
}

#legend_space {
    padding-top: 100px;
}

/* For hierarchical graph */
.link_bundle {
  stroke: steelblue;
  stroke-opacity: .4;
  fill: none;
  pointer-events: none;
}

.node_bundle:hover{
  fill: #2ca02c;
}

.node--source {
  fill: #2ca02c;
}

.node--target {
  fill: #d62728;
}

.link--source{
  stroke-opacity: 1;
  stroke-width: 2px;
  stroke: #2ca02c;
}

.link--target {
  stroke-opacity: 1;
  stroke-width: 2px;
  stroke: #d62728;
}