<!DOCTYPE html>
<html>
<head>
	<title>Byte 2</title>
	<!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="navbar navbar-default">
		<div class="container">
			<h3 class="navbar-header">Byte 2</h3>
		</div>
		
	</div>
	<div class="container">
		<div class="row marketing">
			<div class="col-lg-4">
				<h3>What are the percentage of the dogs spayed or neutered?</h3>
				<br>
				<p>This result was quite a surprise to me as I was expecting most of the dogs taken into the animal service would not be spayed/neutered. This shows that 59% of the dogs taken in were probably once a housed dog.</p>
			</div>
			<div class="col-lg-6">
				<iframe width="600" height="300" scrolling="no" frameborder="no" src="https://www.google.com/fusiontables/embedviz?containerId=googft-gviz-canvas&amp;q=select+col9%3E%3E0%2C+count()+from+1V-zsxH7mLEiM6ueBDTLbL3PcPbN_V_HG6W3nA_54+where+col1%3E%3E0+%3D+&#39;DOG&#39;+group+by+col9%3E%3E0+order+by+count()+asc+limit+10&amp;viz=GVIZ&amp;t=PIE&amp;uiversion=2&amp;gco_forceIFrame=true&amp;gco_hasLabelsColumn=true&amp;width=600&amp;height=300"></iframe>
			</div>
		</div>

		<div class="row marketing">
			<div class="col-lg-5">
				<iframe width="400" height="300" scrolling="no" frameborder="no" src="https://www.google.com/fusiontables/embedviz?containerId=googft-gviz-canvas&amp;viz=GVIZ&amp;t=GRAPH&amp;gc=false&amp;gd=false&amp;sdb=1&amp;rmax=100000&amp;q=select+col9%3E%3E0%2C+col13%3E%3E0%2C+col3%3E%3E0+from+1V-zsxH7mLEiM6ueBDTLbL3PcPbN_V_HG6W3nA_54+where+col1%3E%3E0+%3D+&#39;DOG&#39;&amp;qrs=+and+col9%3E%3E0+%3E%3D+&amp;qre=+and+col9%3E%3E0+%3C%3D+&amp;qe=&amp;uiversion=2&amp;state=%7B%22ps%22%3A%221_0_20_-g_2_k_6_4_13_w_5_1u_j_3_2i_-1d_9_z_-u_7_14_-e_8_-h_7_1_-3_-13_6_-t_o_c_p_-2j_b_l_-2z_a_g_2o_f_-1b_-1k_%22%2C%22cx%22%3A84.05635849891009%2C%22cy%22%3A-22.395950074840947%2C%22sw%22%3A631.8192332738256%2C%22sh%22%3A275.09832644936904%2C%22z%22%3A1.9655015577703852%7D&amp;gco_forceIFrame=true&amp;gco_hasLabelsColumn=true&amp;width=400&amp;height=300"></iframe>
			</div>
			<div class="col-lg-4">
				<h3>Are spayed/neutered dogs more likely to be adopted and fostered?</h3>
				<br>
				<p>I was interested to see if dogs that were already spayed/neutered were more likely to be adopted. And this was the case. The network graph showed thicker lines between "true" - "adopted" compared to "false" - "adopted".</p>
			</div>
		</div>
		<br>
		<!-- <div class="row marketing">
			<div class="col-lg-4">
				<h3>Where are most of the dogs found?</h3>
			</div>
			<div class="col-lg-5">
				<iframe width="500" height="300" scrolling="no" frameborder="no" src="https://www.google.com/fusiontables/embedviz?q=select++from+1V-zsxH7mLEiM6ueBDTLbL3PcPbN_V_HG6W3nA_54+where+col1%3E%3E0+%3D+&#39;DOG&#39;+limit+1000&amp;viz=HEATMAP&amp;h=true&amp;lat=38.12546066834223&amp;lng=-85.47127349853514&amp;t=1&amp;z=9&amp;l=col16%3E%3E0&amp;y=2&amp;tmplt=2&amp;hmd=true&amp;hmg=%2366ff0000%2C%2393ff00ff%2C%23c1ff00ff%2C%23eeff00ff%2C%23f4e300ff%2C%23f4e300ff%2C%23f9c600ff%2C%23ffaa00ff%2C%23ff7100ff%2C%23ff3900ff%2C%23ff0000ff&amp;hmo=0.48&amp;hmr=39&amp;hmw=0&amp;hml=TWO_COL_LAT_LNG"></iframe>
			</div>
		</div> -->
		
		
	</div>
</body>
</html>