<!DOCTYPE html>
<html>
<head>
	<title>Project 1</title>
  	<link href="stylesheets/d3.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="d3/d3.min.js"></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

</head>

<body>
	<div class="navbar navbar-default">
			<h3 class="navbar-header" style = "margin-left: 20px">Project 1: ISIS twitter network analysis</h3>
	</div>

	<div class="container">
    <div id="tooltip" class="hidden">
      <p><strong>Twitter id: </strong><span id="tweeter">100</span></p>
      <p><strong>Follower amount: </strong><span id="follower">100</span></p>
    </div>
  </div>
		<script>

var width = 960,
    height = 960,
    n = 500,
    visible = false,
    active_node = '';

var color = d3.scale.category20();

var force = d3.layout.force()
    .charge(function(d, i) { return i ? -1: -100; })
    .gravity(0.1)
    // .linkDistance(100)
    .size([width, height]);

var pie = d3.layout.pie().value(function(d){return d.followersCount/d.followingCount;});


var svg = d3.select("body").append("svg")
    .attr("width", width)
    .attr("height", height);

d3.json("data/d3data.json", function(error, graph) {
  force
      .nodes(graph.nodes)
      // .links(graph.links)
      .start();

  var root = graph.nodes[0];
  root.fixed = true;

  var loading = svg.append("text")
    .attr("x", width / 2)
    .attr("y", height / 2)
    .attr("dy", ".35em")
    .style("text-anchor", "middle")
    .text("Simulating. One moment please…");
  // Use a timeout to allow the rest of the page to load first.
  setTimeout(function() {


  var node = svg.selectAll(".node")
      .data(graph.nodes.slice(1))
    .enter().append("circle")
      .attr("class", "node")
      .attr("r", function(d) { return Math.sqrt(d.followersCount/100);})
      .style("fill", function(d) { return color(d.group); })
      // .call(node_drag)
      .on("click", function(d) { 
        var xPos = d3.event.pageX;
        var yPos = d3.event.pageY;

        d3.select("#tooltip")
          .style("left", xPos +"px")
          .style("top", yPos + "px")
          .select("#tweeter")
          .text(d.userName);

        d3.select("#tooltip")
          .select("#follower")
          .text(d.followersCount);

        /*--- if clicked node is different from the one previously, reopen tooltip for the new node by setting visible to false --- */
        if (active_node != d.userName){
          visible = false;
        }
        active_node = d.userName;

        /*--- toggle tooltip ---*/
        if (visible == false){
          d3.select("#tooltip").classed("hidden", false)
          visible = true;
        } else {
          console.log(tooltip.style.display)
          d3.select("#tooltip").classed("hidden", true)
          visible = false;
        }

      });

  loading.remove();

  function tick(){
    node.attr("cx", function(d) { return d.x; })
        .attr("cy", function(d) { return d.y; });
    // link.attr("x1", function(d) { return d.source.x; })
    //     .attr("y1", function(d) { return d.source.y; })
    //     .attr("x2", function(d) { return d.target.x; })
    //     .attr("y2", function(d) { return d.target.y; });
  }

 force.on("tick", function ticky(e){
  var q = d3.geom.quadtree(graph.nodes),
      i = 0,
      n = graph.nodes.length;
  while (++i < n) q.visit(collide(graph.nodes[i]));
  
  tick();

 });

 function collide(node) {
  var node_r = Math.sqrt(node.followersCount/100),
      r = node_r + 100,
      nx1 = node.x - r,
      nx2 = node.x + r,
      ny1 = node.y - r,
      ny2 = node.y + r;
  return function(quad, x1, y1, x2, y2) {
    if (quad.point && (quad.point !== node)) {
      var x = node.x - quad.point.x,
          y = node.y - quad.point.y,
          l = Math.sqrt(x * x + y * y),
          r = node_r + Math.sqrt(quad.point.followersCount/100);
      if (l < r) {
        l = (l - r) / l * .5;
        node.x -= x *= l;
        node.y -= y *= l;
        quad.point.x += x;
        quad.point.y += y;
      }
    }
    return x1 > nx2 || x2 < nx1 || y1 > ny2 || y2 < ny1;
  };

    
    };
  });
});

    </script>
</body>
</html>