<!DOCTYPE html>
<html>
<head>
	<title>Project 1</title>
  	<link href="stylesheets/d3.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="d3/d3.min.js"></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

</head>

<body>
	<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
			<div class="navbar-header">
        <a class="navbar-brand" href="#">Project 1: ISIS twitter network analysis</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
              <li ><a href="#intro">Introduction</a></li>
              <li><a href="#data">Data</a></li>
              <li><a href="#result">Result</a></li>
              <li><a href="#future">Future Research</a></li>
            </ul>
	</div>
</div>

	<div class="container">
    <div id="tooltip" class="hidden">
      <p><strong>Twitter id: </strong><span id="tweeter">100</span></p>
      <p><strong>Follower amount: </strong><span id="follower">100</span></p>
      <p><strong>Following amount: </strong><span id="following">100</span></p>
      <p><strong>Most recent tweet: </strong><span id="tweet">100</span></p>
    </div>
    <h3 id="intro">Introduction</h3>
    <p>The shocking and powerful rise of the pseudo-state often referred to as ISIS has been marked by exceptional use of social media to recruit and organize fighters.  This propaganda campaign has revealed a new type of spiritual authority we will refer to as “disseminators”.  These “disseminators” are not overtly involved in facilitating the flow of foreign fighters into Syria and Iraq, but their statements and interactions can be seen as providing encouragement and religious legitimacy to the cause.[1]</p>
    <p>This project will pull data from the Twitter REST API[2] , conduct a network analysis in ORA [3], and provide the user with data visualizations that focus on answering the following questions:</p>
    <ul>
      <li>How large is the ISIS propaganda network on Twitter?</li>
      <li> Can we search for and identify its members?</li>
      <li>Can we identify the relative importance of its members?</li>
    </ul>
    <hr>
    <h3 id="data"></a>Data</h3>
    <div class="row marketing">
      <div class="col-lg-6">
        <p>Snowball sample the Twitter API on 12/7/2014.</p>
    <ul>
      <li>S0 = { ShamiWitness, SaqrAnsaar, AbuSiqr, JabhtAnNusrah_s, Khalid_Maqdisi }</li>
      <li>S1 = the union of all Twitter users followed by members of S0  and S0</li>
      <li>S2 = the union of all Twitter users followed by members of S1 and S1</li>
    </ul>
      </div>
     <div class="col-lg-6">
      <figure>
      <img src="image/Figure1.png" style="width: 100%">
      <figcaption>Displays the top 5, still active disseminator accounts identified in the ICSR #Greenbirds Report [1]
</figcaption>
      </figure>
     </div>
   </div>
    <hr>
<h3 id="result"></a>Results</h3>
<h4> How large is the ISIS propaganda network on Twitter?</h4>
<p>As with most covert networks, bounding the network and estimating size is non-trivial.  News media has estimated the size to be between 5000 and 45000 users.  Due to the difficulty of discriminating between news media, bloggers, and propagandists. We cannot estimate the size of the ISIS propaganda network at this time.  However, we have been able to identify a core cluster of propagandists, and this interactive visualization will facilitate supervised learning in the future to classify network members and estimate overall size of the true network.  
</p>
<h4>Can we search for and identify its members?</h4>
<p>The data cleaning process we went through reduced the original network down to 100 tweeter handles. On 3/1/2015 Twitter suspended approximately 2000 accounts it claimed were spreading ISIS propaganda[5].  3.98% or 6606 of the 123,532 accounts identified in our snowball sample have been deleted or suspended as of 3/12/2015.  52 of our “Top 100 cluster” have been suspended which indicates our clusters and the cleaning process can help us search for members in the ISIS propaganda network, albeit not perfect.</p>
<p>Of the 100 people, we try to identify what are some features of ISIS propaganda members by comparing the accounts that were suspended and that were not.</p>
<br>
    <h5>Following/Follower count chart </h5>
    <p> <span style="font-weight: bold">The size of each circle represents the total amount of followers one has </span> and the inner circle represents the following account amount. Circles with a <span style="color:red">red</span> outline were suspended in March, 2015.</p>
    <p>It seems that the amount of followers one has is not a good indicator of it being a part of the ISIS propaganda network. Rather, the ratio of follower/following amount might be a better indicator, as seen the majority of the suspended accounts have a relatively large inner circle in the plot. Hence, the ratio should be considered if we want to predict accounts that will be radicalized in the future. </p>

    <div class="row marketing" style="margin-top: 50px">
      <div class="col-lg-8" id = "graph1"></div>
      <div class="col-lg-4" id = "legend_space">
        </div>
      </div>
      <h5>Hierarchical Bundle Chart</h5>
    <p>This chart shows how these 100 people interact with each other. By scrolling through the 100 people and looking at their connections, intuitively, it seems that the visualization tells that if one has more connections (whether it's following or being followed) with people who are considered as a propoganda member, they are more likely to be considered as a member and, hence, has its account suspended. </p>
    <p>So we decided to look at if this is true.</p>
      <div class="row marketing" style="margin-top: 50px">
        <div class="col-lg-8" id = "graph2"></div>
        <div class="col-lg-4" id = "legend_bundle"></div>
      </div>
  <h5>Bar chart of suspended followers and following accounts</h5>
  <p>This chart plots, for each tweet account, how many of its followers and following accounts that are within the top 100 were suspended. This might be an indicator of whether or not the account belongs to a member of a ISIS propaganda network.</p>
  <p>From the chart, it seems that the suspended accounts had more followers/following accounts that are suspended. That is, if an account is following or is followed by many accounts that were suspended, this particular account is more likely to be part of the propaganda network.</p>
  <div class="row marketing" style="margin-top: 50px">
        <div class="col-lg-8" id = "graph3"></div>
      <div class="col-lg-4" id = "legend_space"></div>
      </div>
  <h4>Can we identify the relative importance of its members?</h4>
  <div class="row marketing">
      <div class="col-lg-6">
<p>In-degree centrality is defined as the number of group members following a specific user and provides a useful metric to estimate the relative importance of group members in our network.  In the bubble chart we depict node size with in-degree centrality (green inner circles), and color indicates whether the accounts have been deactivated since 12/2/2014. Nodes with red outlines have been deleted by the user or suspended by Twitter. </p>
  <p>Although our results indicate that we can isolate many of the user accounts we are interested in, the size of our search results and the strong relationship between disseminators and regional news media makes it challenging to differentiate using standard network clustering algorithms such as Girvan-Newman or the Louvain Method. </p>
  <p>The figure on the right shows the top 100 users identified in our seed agent dominated Louvain cluster.  Agents were selected by in-degree centrality, and their values are depicted with by node size.  Color indicates whether the accounts remain active as of 3/12/2015.  Blue accounts are currently active, while green accounts have been deleted by the user or suspended by Twitter.</p>
      </div>
     <div class="col-lg-6">
      <figure>
      <img src="image/Shami100.png" style="width: 100%">
      </figure>
     </div>
   </div>

   <hr>
   <h3 id="future">Future Research</h3>
   <p>We would want to develop a more informed clustering algorithm by:</p>
   <ul>
     <li>  better leveraging the information provided by the Twitter REST API such as: retweets, mentions.</li>
     <li>identify and label news media and official accounts.</li>
     <li> identify and label all suspended accounts.</li>
   </ul>
<p>The problem lends itself to a visualization that capitalizes on the ability of the user to classify user accounts and facilitate a machine learning algorithm for clustering.</p>
<p>Another question of our interest is to identify a populations of users in the early phases of being radicalized.</p>
  
  <hr>
  <h3>References</h3>
  <p>[1]     J. A. Carter, S. Maher, and P. R. Neumann, “#Greenbirds: Measuring Importance and Influence in Syrian Foreign Fighter Networks.” International Centre for the Study of Radicalization, 01-Apr-2014.</p>
  <p>[2]     R. Twitter, API. 2013.</p>
  <p>[3]     K. M. Carley and J. Reminga, “ORA: Organizational Risk Analyzer,” Jul. 2004.</p>
  <p>[4]     V. D. Blondel, J.-L. Guillaume, R. Lambiotte, and E. Lefebvre, “Fast unfolding of communities in large networks,” J. Stat. Mech. Theory Exp., vol. 2008, no. 10, p. P10008, Oct. 2008.</p>
  <p>[5]     B. Ross, “Twitter Escalates ISIS Battle: 2,000 Accounts Suspended,” ABC News, 03-Mar-2015. [Online]. Available: http://abcnews.go.com/International/twitter-escalates-isis-skirmish-2000-accounts-suspended-week/story?id=29335434. [Accessed: 12-Mar-2015].</p>
  <hr>
  <footer>
    <div class="container">
    <p>2014 Project for Data Pipeline by Matthew Benigni, Asher Cohan, Ariel Norling, and Siyan Zhao. </p>
  </div>
  </footer>
		<script>

var width = 800,
    height =800,
    n = 500,
    visible = false,
    active_node = '';

var color = d3.scale.ordinal().range(["#43a2ca", "#a8ddb5"]);
var color_bundle = d3.scale.ordinal().range(["#43a2ca", "#a8ddb5"]);
color.domain(["Follower", "Following"]);
color_bundle.domain(["Being followed", "Following others"])

//----------------------------LEGEND------------------------------
var legendRectSize = 18;
var legendSpacing = 4;

var svg_legend = d3.select("#legend_space").append("svg")
      .attr("width", 300)
      .attr("height", 100);

var sub_legend = svg_legend.selectAll('.legend')
  .data(color.domain())
  .enter()
  .append('g')
  .attr('class', 'legend')
  .attr('transform', function(d, i) {
    var height = legendRectSize + 2 * legendSpacing;
    var width = 150;
    var offset =  height * color.length / 2;
    var horz = 2 * legendRectSize;
    var vert = i * height + 2;
    return 'translate(' + horz + ',' + vert + ')';
  });
  
  sub_legend.append('rect')
  .attr('width', legendRectSize)
  .attr('height', legendRectSize)
  .style('fill', color)
  .style('stroke', color);

  sub_legend.append('text')
  .attr('x', legendRectSize + 2 * legendSpacing)
  .attr('y', legendRectSize - legendSpacing)
  .text(function(d) { return d; });

//----------------------LEGEND FOR BUNDLE ----------------
var svg_legend_bundle = d3.select("#legend_bundle").append("svg")
      .attr("width", 300)
      .attr("height", 100);

var sub_legend_bundle = svg_legend_bundle.selectAll('.legend')
  .data(color_bundle.domain())
  .enter()
  .append('g')
  .attr('class', 'legend')
  .attr('transform', function(d, i) {
    var height = legendRectSize + 2 * legendSpacing;
    var width = 150;
    var offset =  height * color.length / 2;
    var horz = 2 * legendRectSize;
    var vert = i * height + 2;
    return 'translate(' + horz + ',' + vert + ')';
  });
  
  sub_legend_bundle.append('rect')
  .attr('width', legendRectSize)
  .attr('height', legendRectSize)
  .style('fill', color)
  .style('stroke', color);

  sub_legend_bundle.append('text')
  .attr('x', legendRectSize + 2 * legendSpacing)
  .attr('y', legendRectSize - legendSpacing)
  .text(function(d) { return d; });
//---------------------END LEGEND---------------------------

//--------------------BUNDLE SETUP--------------------------
var diameter = 800,
    radius = diameter / 2,
    innerRadius = radius - 150;

var cluster = d3.layout.cluster()
    .size([360, innerRadius])
    .sort(null)
    .value(function(d) { return d.size; });

var bundle = d3.layout.bundle();

var line = d3.svg.line.radial()
    .interpolate("bundle")
    .tension(0.7)
    .radius(function(d) { return d.y; })
    .angle(function(d) { return d.x / 180 * Math.PI; });


var svg_bundle = d3.select("#graph2").append("svg")
    .attr("width", diameter)
    .attr("height", diameter)
  .append("g")
    .attr("transform", "translate(" + radius + "," + radius + ")");

var link_bundle = svg_bundle.append("g").selectAll(".link_bundle"),
    node_bundle = svg_bundle.append("g").selectAll(".node_bundle");

//------------------ END BUNDLE SETUP --------------------------

//---------------- BUBBLE CHART SETUP ---------------------------
var force = d3.layout.force()
    .charge(function(d, i) { return i ? -1: -100; })
    .gravity(0.1)
    // .linkDistance(100)
    .size([width, height]);

var pie = d3.layout.pie().value(function(d){return d;})
.sort(function (a, b) {return b - a;});

var svg = d3.select("#graph1").append("svg")
    .attr("width", width)
    .attr("height", height);
//---------------- END BUBBLE CHART SETUP ------------------------

d3.json("data/d3data-100.json", function(error, graph) {
  var new_nodes = convert(graph.nodes)[0];
  var nodes = cluster.nodes(packageHierarchy(graph.nodes)),
    links = packageImports(nodes, graph.links);

  var loading = svg_bundle.append("text")
    .attr("x", width / 2)
    .attr("y", height / 2)
    .attr("dy", ".35em")
    .style("text-anchor", "middle")
    .text("Simulating. One moment please…");
//---------------------- BAR CHART -------------------------

var margin = {top: 20, right: 0, bottom: 100, left: 50},
    width_bar = width - margin.left - margin.right,
    height_bar = height - margin.top - margin.bottom;


var userNameList = [];
var total_count_list = [];
var i = -1;

var x = d3.scale.ordinal()
    .rangeRoundBands([0, width_bar], .1);

var y = d3.scale.linear()
    .rangeRound([height_bar, margin.top]);

var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom");

var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left")
    .tickFormat(d3.format(".2s"));

var svg_bar = d3.select("#graph3").append("svg")
    .attr("width", width)
    .attr("height", height)
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

while (++i<graph.nodes.length){
  userNameList.push((graph.nodes[i]).userName);
  total_count_list.push((graph.nodes[i]).followersCount + (graph.nodes[i]).followingCount);
}

bar_category = ["Follower", "Following"]

graph.nodes.forEach(function(d){
  var y0 = 0;
  d.outcomes = bar_category.map(function(name){
    if (name == "Follower"){
      rst = {name: name, y0: y0, y1: (y0 + d.suspendedFollowersCount)};

      y0 = y0 + d.suspendedFollowersCount;
    } else if (name == "Following") {
      rst = {name: name, y0: y0, y1: (y0 + d.suspendedFollowingCount)};

      y0 = y0 + d.suspendedFollowingCount;
    }

      return rst;
  });
})
var suspendedcount1 = d3.max(total_count_list, function(d) { return d;});

 // Update the scale domains.
x.domain(userNameList);
y.domain([0, 100]);

svg_bar.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate("+margin.left+"," + height_bar + ")")
      .call(xAxis)
      .selectAll("text")  
            .style("text-anchor", "end")
            .attr("dx", "-.8em")
            .attr("dy", ".15em")
            .attr("font-size", "9px")
            .attr("transform", function(d) {
                return "rotate(-65)" 
                })
            .style("fill", function(d){
              if (look_up_susp(d)) {
                console.log("I am ehre");
                return "#de2d26";
              }
            });

svg_bar.append("g")
      .attr("class", "y axis")
      .attr("transform", "translate(" + margin.left + ",0)")
      .call(yAxis)
    .append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", 6)
      .attr("dy", ".71em")
      .style("text-anchor", "end")
      .text("Count");

div_bar = svg_bar.selectAll("div")
                .data(graph.nodes)
                .enter().append("g")
      .attr("class", "g")
      .attr("transform", function(d) { 
        return "translate(" + ((x(d.userName))+margin.left) + ",0)" });


div_bar.selectAll("rect")
        .data(function(d){return d.outcomes})
        .enter().append("rect")
   .attr("width", x.rangeBand())
   .attr("y", function(d) { return y(d.y1); })
   .attr("height", function(d) { 
    return (y(d.y0) - y(d.y1)); })
   // use the color scale to determine the fill color
   .attr("fill", function(d) { return color(d.name); });

function look_up_susp(name){
  var index = userNameList.indexOf(name);
  return graph.nodes[index].suspended;
}
//------------------ BUNDLE CHART ----------------------
  link_bundle = link_bundle
    .data(bundle(links))
  .enter().append("path")
    .each(function(d) { d.source = d[0], d.target = d[d.length - 1]; })
    .attr("class", "link_bundle")
    .attr("d", line);

  node_bundle = node_bundle
    .data(nodes.filter(function(n) { return !n.children; }))
    .enter().append("text")
    .attr("class", "node_bundle")
    .attr("dy", ".1em")
    .attr("transform", function(d) { return "rotate(" + (d.x - 90) + ")translate(" + (d.y + 8) + ",0)" + (d.x < 180 ? "" : "rotate(180)"); })
    .style("text-anchor", function(d) { return d.x < 180 ? "start" : "end"; })
    .text(function(d, i) {return d.userName;})
    .style("fill", function(d) {
      if (d.suspended == true) {
        return "#de2d26";
      } else {
        return "#bbb";
      }
    })
    .on("mouseover", mouseovered)
    .on("mouseout", mouseouted);

    loading.remove();

function mouseovered(d) {
  node_bundle
      .each(function(n) { 
        n.target = n.source = false; });

  link_bundle
      .classed("link--target", function(l) { 
        if (l.target === d) return l.source.source = true; })
      .classed("link--source", function(l) { if (l.source === d) return l.target.target = true; })
    .filter(function(l) { return l.target === d || l.source === d; })
      .each(function() { this.parentNode.appendChild(this); });

}

function mouseouted(d) {
  link_bundle
      .classed("link--target", false)
      .classed("link--source", false);
}

d3.select(self.frameElement).style("height", diameter + "px");

var count = 0;
// Lazily construct the package hierarchy from class names.
function packageHierarchy(classes) {
  var map = {};
  function find(name, data) {
    var node = map[name];
    if (!node) {
      node = map[name] = data || {name: name, children: []};
      if (name){
          node.parent = find("");
          node.parent.children.push(node);
          node.key = name;
        } 
    } 
    return node;
  }

  classes.forEach(function(d) {
    find(d.userId, d);
  });
  return map[""];
}

// Return a list of imports for the given array of nodes.
function packageImports(nodes, links) {
  var map = {},
      imports = [];

  // Compute a map from name to node.
  nodes.forEach(function(d) {
    map[d.userName] = d;
  });

  // For each import, construct a link from the source to target node.
  links.forEach(function(d) {
    var s = d.source,
      t = d.target;

    imports.push({source: nodes[s], target: nodes[t]});
    });
  return imports;
}

//------------------- BUBBLE CHART ---------------------
  force
      .nodes(new_nodes)
      // .links(graph.links)
      .start();

  var root = new_nodes[0];
  root.fixed = true;

  var node = svg.selectAll(".node")
      .data(new_nodes.slice(1))
      .enter().append("circle")
      .attr("class", "node")
      .attr("r", function(d) { return d.r; })
      .style("fill", function(d) { return color(0); })
      .style("stroke", function(d) {
        if (d.suspended == true){
          return "#de2d26";
        }
      })
      // .call(node_drag)
      .on("click", function(d) { display_tip(d); });

  var innerC = svg.selectAll("svg")
      .data(new_nodes)
    .enter().append("circle")
      .attr("class", "inner_node")
      .attr("r", function(d) { 
        var ratio = d.followingCount/d.followersCount;
        var innerR = d.r*(ratio);
        return innerR; })
      .style("fill", function(d) { return color(1); })
      .on("click", function(d) { display_tip(d); });

  function display_tip(d){
        var xPos = d3.event.pageX;
        var yPos = d3.event.pageY;

        d3.select("#tooltip")
          .style("left", xPos +"px")
          .style("top", yPos + "px")
          .select("#tweeter")
          .text(d.userName);

        d3.select("#tooltip")
          .select("#follower")
          .text(d.followersCount);

        d3.select("#tooltip")
          .select("#following")
          .text(d.followingCount);

        d3.select("#tooltip")
          .select("#tweet")
          .text(d.tweets);

        /*--- if clicked node is different from the one previously, reopen tooltip for the new node by setting visible to false --- */
        if (active_node != d.userName){
          visible = false;
        }
        active_node = d.userName;

        /*--- toggle tooltip ---*/
        if (visible == false){
          d3.select("#tooltip").classed("hidden", false)
          visible = true;
        } else {
          d3.select("#tooltip").classed("hidden", true)
          visible = false;
        }
  }

  function tick(){
    var node_x = 0;
    var node_y = 0;
    node.attr("cx", function(d) { node_x = d.x; return d.x; })
        .attr("cy", function(d) { node_y = d.y;return d.y; });
    innerC.attr("cx", function(d) { node_x = d.x; return d.x; })
        .attr("cy", function(d) { node_y = d.y;return d.y; });
  };

  loading.remove();

 force.on("tick", function ticky(e){
  var q = d3.geom.quadtree(new_nodes),
      i = -1,
      n = new_nodes.length;
  while (++i < n) q.visit(collide(new_nodes[i]));
  
  tick();
 });

 function convert(node_list){
  var result = [];
  var highFF = []
  var current_node = {};

  count = -1;

  while (++count<node_list.length){
      //----- for bubble chart ------
      current_node = node_list[count];
      current_node.r = Math.sqrt((current_node.followersCount/100));
      // var followingR = current_node.followingCount/(current_node.followersCount+current_node.followingCount);
      var followingR = current_node.followingCount/current_node.followersCount;
      // var followerR = 1 - followingR;
      // current_node.FFratio = [followingR, followerR];
      result.push(current_node);

      //------ for high following/follower ratio----
      if (followingR > 0.6){
        highFF.push(current_node.userName);
      }
  };
  return [result, highFF];
 };

 function collide(node) {
  var node_r = node.r,
      r = node_r + 100,
      nx1 = node.x - r,
      nx2 = node.x + r,
      ny1 = node.y - r,
      ny2 = node.y + r;
  return function(quad, x1, y1, x2, y2) {
    if (quad.point && (quad.point !== node)) {
      var x = node.x - quad.point.x,
          y = node.y - quad.point.y,
          l = Math.sqrt(x * x + y * y),
          r = node_r + quad.point.r;
      if (l < r) {
        l = (l - r) / l * .5;
        node.x -= x *= l;
        node.y -= y *= l;
        quad.point.x += x;
        quad.point.y += y;
      }
    }
    return x1 > nx2 || x2 < nx1 || y1 > ny2 || y2 < ny1;
  };
};
//----------------- END BUBBLE CHART -----------------

});



d3.json("data/d3data-100.json", function(error, classes) {


});

    </script>
</body>
</html>